body{
    background-color: black;
}
/* header */
header{
    background-color: black;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.logo a img{
    height: 80px;
    margin: 10px 30px 10px 10px ;
}
.menu a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 24px;
}
.search-box{
    background-color: white;
    flex: 1;
    height: 40px;
    margin: 30px;
    border-radius: 5px;
    display: flex;
   
}
.search-box-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
}
.user a img{
    height: 30px;
    margin:  0 10px 0 40px;
}
.cart a img{
    height: 30px;
    margin:  10px;
}
.setting a img{
    height: 30px;
    margin:  10px;
}
.search-btn{
    border: none;
    background-color: white;
    border-radius:  5px;
}
.search-btn img {
    height: 35px;
}
.search-btn:hover{
    cursor: pointer;
    background-color: gray;
}



.list-cart{
    position: absolute;
    background-color: white;
    right: 50px;
    width: 400px;
    box-shadow: 0 2px 10px #000000;
    display: none;
    border-radius: 5px;
    padding: 10px;
}
.cart:hover .list-cart{
    display: block;
}
/* content */
.product{
    background-color: white;
    padding: 20px;
    
    font-size: 20px;
    font-weight: bolder;
}
.top-product{
    display: flex;
}

.product-image{
    margin: 40px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    
}


.list-product{
    margin-top: 10px;
    gap:10px;

}
.list-product img{
    height: 150px;

}

.detail-product{
    margin: 20px;
}
.name-product{
    font-size: 40px;
    margin: 20px 20px 20px 0;
}
.rating span{ 
    margin-right: 20px;
}
.rating { 
    margin-bottom: 20px;
}
.price{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}
/* màu sắc */
.color-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.color-options label {
    margin-right: 10px;
    font-weight: bold;
}
.color-options{
    margin-bottom: 30px;
}
.color-options span {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.color-options span:hover{
    scale: 1.2 ;
    
}
.size-options {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.size-options button{
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    
}
.size-options button:hover{
    scale: 1.2 ;
}
.quantity{
    margin-bottom: 30px;
}
.quantity input{
    height: 30px;
    width: 50px;
}


.buy-button button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s;
}

.buy-button {
    background-color: lightgray;
    border: none;
    outline: none;
    height: 80px;
    width: 230px;
    border-radius: 10px;
    margin: 20px 0 20px 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.buy-button:hover {
    background-color:gray;
    cursor: pointer;
}
.addcart-button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    height: 80px;
    width: 230px;
    border-radius: 10px;
    margin: 20px 0 20px 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.addcart-button:hover {
    background-color:gray;
    cursor:pointer;
}

.infor-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #ccc;
    padding: 30px 20px;

}
.infor-product img {
    width: 50%;
}
/* suggest items */

.suggest-list {
    margin-top: 40px;
    text-align: center;
}

.suggest-list h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.suggest-items {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.suggest-items .item {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.suggest-items .item img {
    width: 100%;
    border-radius: 10px;
}

.suggest-items .item p {
    margin: 20px 0 10px;
    font-size: 20px;
}

.suggest-items .item span {
    font-weight: bold;
    color: #e60000;
    font-size: 20px;
}

/* footer */
footer{
    height: 100px;
    color: white;
    background-color: black;
    font-size: 30px;
    text-align: center;
}