body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
